.contact-us-main-container {
  min-height: calc(100vh - 130px);
  max-width: 1100px;
  padding: 100px 30px 30px 30px;
  margin: auto;
}

.contact-us-main-color {
  background-color: #667db6;
}


@media screen and (max-width: 767px) {
  .contact-us-main-container {
    margin-top: 40px;
  }
}